@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
ul {
  list-style: none;
  text-align: center;
  margin: 0;
  li {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    a {
      text-decoration: none;

      font-size: 1.2rem;
      color: rgb(41, 41, 41);
      &:hover {
        color: #0187ca;
        font-weight: bolder;
      }
    }
  }
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
  @media screen and (max-width: 1200px) {
    max-width: 1024px;
  }
  @media screen and (max-width: 1024px) {
    max-width: none;
  }
}
.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.text-end {
  text-align: right;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.footer {
  padding: 2rem;
  background: #767676;
  color: white;
  text-align: center;
}
@import url(./Header.scss);
@import url(./Home.scss);
@import url(./Product.scss);
@import url(./singleProduct.scss);
@import url(./miniCart.scss);
