header {
  background: rgb(194, 238, 238);
  width: 100%;
  .navBar {
    margin: auto;
    display: flex;
    padding: 1rem 1.5rem;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    .logo {
      max-width: 3rem;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    ul {
      li {
        position: relative;
        a {
          font-size: 1.2rem;
          color: rgb(41, 41, 41);
          &:hover {
            color: #0187ca;
          }
        }
      }
      li:last-child {
        .miniCartContainer {
          display: none;
          background: white;
          z-index: 111;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(10%, 102%);
        }
        &:hover {
          .miniCartContainer {
            display: block;
          }
        }
      }
    }
  }
}
