.minicart {
  width: 300px;
  border: 1px solid black;
  padding: 1rem;
  .cartContent {
    .cartItem {
      &:first-child {
        margin-top: 0;
      }
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid rgb(112, 162, 227);
      padding-bottom: 0.3rem;
      .item {
        display: flex;
        gap: 1rem;
        .imgContainer {
          background: rgba(203, 198, 198, 0.659);
          padding: 2px;
          border: 1px solid;
          width: 50px;
          height: max-content;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .itemDetail {
          h4 {
            color: #0187ca;
            font-weight: bolder;
            margin-bottom: 0.5rem;
          }
        }
      }
      .dltItem {
        width: fit-content;
        span {
          cursor: pointer;
          width: 2rem;
          svg {
            &:hover {
              fill: red;
            }
          }
        }
      }
    }
  }
}
