.product-main {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
}
.ant-card {
  height: 100%;
}
.ant-card-cover {
  // max-width: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
  img {
    padding: 1rem;
    width: 100%;
  }
}
