body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    margin: 0 1rem;
  }
}
.navBar {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
